<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin E-commerce</title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
<!--                        <div class="col-lg-4 col-6">-->
<!--                            <div class="small-box bg-info">-->
<!--                                <div class="inner">-->
<!--                                    <h3 th:text="${countOrder.longValue()}"></h3>-->
<!--                                    <p>New Orders</p>-->
<!--                                </div>-->
<!--                                <div class="icon">-->
<!--                                    <i class="ion ion-bag"></i>-->
<!--                                </div>-->
<!--                                <a href="/orders" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-6">-->
<!--                            <div class="small-box bg-success">-->
<!--                                <div class="inner">-->
<!--                                    <h3 th:text="${countProduct.longValue()}"><sup style="font-size: 20px"></sup></h3>-->
<!--                                    <p>Total Products</p>-->
<!--                                </div>-->
<!--                                <div class="icon">-->
<!--                                    <i class="ion ion-stats-bars"></i>-->
<!--                                </div>-->
<!--                                <a href="/products" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-6">-->
<!--                            <div class="small-box bg-warning">-->
<!--                                <div class="inner">-->
<!--                                    <h3 th:text="${count.longValue()}"></h3>-->
<!--                                    <p>User Registrations</p>-->
<!--                                </div>-->
<!--                                <div class="icon">-->
<!--                                    <i class="ion ion-person-add"></i>-->
<!--                                </div>-->
<!--                                <a href="/user" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </section>
        </div>
    </th:block>
</body>
</html>